CherryPy==3.8.0
Django==1.11.29
Jinja2==2.8
MarkupSafe==0.23
django-localflavor==1.0
ipython==4.0.0
ordereddict==1.1
pep8==1.6.2
psycopg2==2.5.1
pyparsing==1.5.6
pytz==2012d
simplejson==3.8.1
uWSGI==2.0.11.2
urllib3==1.12
virtualenv==1.10.1
