
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    	<script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/utils.js" %}"></script>
        <script src="{% static "js/knockout-3.1.0.js" %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui-1.10.3.custom.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main_page.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/micro_clearfix.css" %}" />
        <style>
            #ui-datepicker-div { font-size: 12px; }
        </style>

        {% block additional-headers %} {% endblock %}
    </head>
    <body>
    	<div id="container">
			<div class="visgence_logo">
				<a href="/timeclock"><img src="{% static "images/Visgence_incwhite.png" %}" height="80px" width="150px" /></a>

			    <div class="timeclock_logo">
			        <img src="{% static "images/timeclock2.png"  %}" height="90px" width="320px" />
			    </div>
			</div>


            <!-- System wide message dialog -->
            <div class="modal fade" id="sys-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <span class="help-block"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button> </div> </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


	        <div id="content">

	            {% if user.first_name %}
                <div style="position: absolute;">
		                Hello {{user.first_name}} {{user.last_name}} (<a href="/logout">logout</a>)
                        <br/>
                        <span style="font-size: 8pt;">[<a href="#" id="change-pass-link">Change password</a>]</span>
                </div><!--end greeting-->

                <!-- Change password dialog -->
                <div class="modal fade" id="change-pass-modal" style="display: none">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Change Password</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group" id="pass-msg"></div>

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-md-4">Username</label>
                                        <div class="col-lg-5 col-md-5">
                                            <label class="control-label">{{user.username}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-md-4">Old Password</label>
                                        <div class="col-lg-7 col-md-7">
                                            <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                                                    placeholder="Old Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-md-4">New Password</label>
                                        <div class="col-lg-7 col-md-7">
                                            <input type="password" id="passwordInput" name="password" class="form-control"
                                                    placeholder="New Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-md-4">Verify Password</label>
                                        <div class="col-lg-7 col-md-7">
                                            <input type="password" id="passwordReinput" class="form-control"
                                                    placeholder="Verify Password">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="change-pass-btn">Change Password</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <script>
                    $(function() {
                        initPassDialog();
                    });
                </script>

                {% block additional-greeting %}{% endblock %}
                {% endif %}

                <div style="margin-top: 3em;">
                    {% block content %} {%endblock%}
                </div>

			</div>
		</div>

		<div class="visweb_link">
			<a href="http://www.visgence.com/" target="_blank"><img src="{% static "images/Visgence_grey.png" %}" height="50px" width="110px" /></a>
		</div>

    </body>

    <script>
        $(function() {

            $(document).ajaxComplete(function(event, xhr, settings) {
                if(xhr.responseText && xhr.responseText.trim() !== '') {
                    try {
                        jsonData = JSON.parse(xhr.responseText);
                        if(jsonData.hasOwnProperty('status') && jsonData['status'] == 302) {
                            window.location = jsonData['location'];
                        }
                    } catch(e) {console.log(e)}
                }

            });

            $('#sys-modal').modal({
                show: false
            })
            .on('hidden.bs.modal', function() {
                var classes = 'has-error has-success has-warning';
                $('#sys-modal .modal-title').html('');
                $('#sys-modal .modal-body').removeClass(classes).children('span').html('');
            });

            setInterval(function() {
                console.log("checking login");
                $.get('/login/check/');
            }, ({{SESSION_TIMEOUT}}+3600)*1000);
        });
    </script>

    {% block additional-scripts %}{% endblock %}
</html>



