{% load math_helper %}
{% load static %}
{% for job, data in jobsBreakdown.jobs.items %}
    <div class="job-breakdown" data-active="{{data.active}}" {% if not data.active %}style="display:none;"{% endif %}>
        <label>
            {% if data.hours != "0.00" %}
            <span class="job-title clickable"><a style="text-decoration: none">{{job}}</a></span>
            {% else %}
            <span>{{job}}</span>
            {% endif %}
             - {{data.hours}} <span style="font-size: 75%">
             {% if jobsBreakdown.is_superuser %}
             Billed: <span style="color:green">${{data.billed}}</span>
             Worked: <span style="color:red">${{data.worked}}</span>
             Net:
             {% if data.net  < 0 %}
                 <span style="color:red">
             {% elif data.net == 0%}
                 <span style="color:black">
             {% else %}
                 <span style="color:green">
             {% endif %}
             ${{data.net}}
             {% endif %}
             </span>
             </span>
             <img class="job-spinners" src="{% static "images/spinner.gif" %}" style="height: 20px; display:none;">
        </label>
        <div class="progress">
            {% for username, percentD in data.percentages.items %}
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percentD.percentage}}" aria-valuemin="0.0"
                     aria-valuemax="{{jobsBreakdown.total_hours}}"
                     style="width: {{percentD.percentage}}%; background-color: {{percentD.employee.color}};"
                     data-toggle="tooltip" title="{{percentD.employee}} - {{percentD.hours}}"></div>
            {% endfor %}
        </div>

        {% if data.hours != "0.00" %}
        <table class="table table-condensed summary-data" style="display: none">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 8em">Date</th>
                    <th>Hours</th>
                    <th style="width: 8em">Employee</th>
                    <th>Miles</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for summary in data.summaries %}
                    <tr>
                        <td><span class="badge" style="background-color: {{summary.employee.color}}">&nbsp;</span></td>
                        <td><a href='summary/{{summary.shift.id}}'>{{summary.shift.time_in.date}}</a></td>
                        <td>{{summary.hours|to_hour}}</td>
                        <td>{{summary.employee}}</td>
                        <td>{{summary.miles}}</td>
                        <td><pre>{{summary.note}}</pre></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endfor %}

<label>
    <u>Total Hours - {{jobsBreakdown.total_hours}}</u>
    {% if jobsBreakdown.is_superuser %}
    Billed: <span style="color:green">${{jobsBreakdown.total_billed}}</span>
    Worked: <span style="color:red">${{jobsBreakdown.total_worked}}</span>
    Net:
     {% if jobsBreakdown.total_net  < 0 %}
         <span style="color:red">
     {% elif jobsBreakdown.total_net == 0%}
         <span style="color:black">
     {% else %}
         <span style="color:green">
     {% endif %}
     ${{jobsBreakdown.total_net}}
     </span>
    {% endif %}
</label>
<script>
    $(function() {
        $('.progress-bar').tooltip({});
        $('.job-title').on('click', function(e) {
            console.log(e.target);
            $(e.target).closest('label').siblings('table.summary-data').toggle();
        });
    });
</script>
