{%extends "base.html"%}

{%block additional-headers%}
    <script src="{{STATIC_URL}}js/main_page.js" type="text/javascript"></script>
{%endblock additional-headers%}

{%block content%}
<div class="login">
					
    <form name="clocker" class="clocker-form" method="post" action="{% url 'clock-employee' %}">
		{% csrf_token %}
			<div class="clocker-container">
				{% if not status %}
                    <span id="statusBtn" class="clock-in">Clock In</span>
                    <input type="hidden" name="status" value="In">
				{% elif status %}
                    <span id="statusBtn" class="clock-out">Clock Out</span>
                    <input type="hidden" name="status" value="Out">
	            {% endif %}
			</div>
	</form>
	
	<div class="message">
	
        {{ message }}
        {{ timeStamp }}
		
	</div> <!--End message-->
	
</div> <!--End login-->  
      	
<div class="cf">
	<div id="hour_management">
        <form name="admin" action="{% url 'get-total-hours' %}" method="post">
			{% csrf_token %}
		
		    	<table style="border-style: none;">
					<tr>
		            	<th colspan="2" style="text-align: left;">View Hours(Admin)</th>
		            </tr>
		
		            <tr>
		            	<td>From </td>
		                <td> <input type="text" id="from" name="from"/> </td>
		            </tr>
		
		            <tr>
		            	<td>To</td>
		                <td> <input type="text" id="to" name="to"/>  </td>
		            </tr>
		
		            <tr>
		            	<td>Employee</td>
		                <td> 
		                	<select name="user_name">
		                        {% for emp in employees %}
                                    <option value="{{emp.username}}">{{emp}}</option>
		                        {% endfor %}
		                    </select> 
		                </td>
		            </tr>
		
		            <tr>
		            	<td></td>
		                <td> <input type="submit" value="Submit" name="Submit"></td>
		            </tr>
				</table>
		</form>
	</div>
		
	<div id="management">
		{% if employee.is_superuser %}
			<div class="click">
                <a class="clickable" href="{% url 'manage-employees' %}">Manage Employees</a>
			</div>
			
			<div class="click">
                <a class="clickable" href="{% url 'manage-jobs' %}">Manage Jobs</a>
			</div>
		{% endif %}
		
		<div class="click">
            <a class="clickable" href="{% url 'manage-summaries' %}">Manage Shift Summaries</a>
		</div>
		
		<div class="click">
            <a class="clickable" href="{% url 'manage-shifts' %}">Manage Shifts</a>
		</div>
	</div>
</div>	
<div id="management_content" style="position: absolute;"></div>
{%endblock%}

