{%extends "base.html"%}

{%block content%}
<div class="login">
					
    <form name="main_page" method="post" action="{% url 'clock-employee' %}">
		{% csrf_token %}
			<div class="radio_buttons">
				{% if not status %}
					 <label>
                        <input id="status-in" type="radio" name="status" value="In" checked="checked">
                         Clock In
                     </label>
	                 <label>
                         <input id="status-out" type="radio" name="status" value="Out" disabled="disabled">
                         Clock Out
                     </label>
	                 <br>
				{% elif status %}
	                 <label>
                         <input id="status-in" type="radio" name="status" value="In" disabled="disabled">
                         Clock In
                     </label>
	                 <label>
                         <input id="status-out" type="radio" name="status" value="Out" checked="checked">
                         Clock Out
                     </label>
	                 <br>
	            {% endif %}
	           		 <input type="submit" value="Submit">
			</div>
	</form>
	
	<div class="message">
	
        {{ message }}
        {{ timeStamp }}
		
	</div> <!--End message-->
	
</div> <!--End login-->  
      	
<div class="cf">
	<div id="hour_management">
        <form name="admin" action="{% url 'get-total-hours' %}" method="post">
			{% csrf_token %}
		
		    	<table style="border-style: none;">
					<tr>
		            	<th colspan="2" style="text-align: left;">View Hours(Admin)</th>
		            </tr>
		
		            <tr>
		            	<td>From </td>
		                <td> <input type="text" id="from" name="from"/> </td>
		            </tr>
		
		            <tr>
		            	<td>To</td>
		                <td> <input type="text" id="to" name="to"/>  </td>
		            </tr>
		
		            <tr>
		            	<td>Employee</td>
		                <td> 
		                	<select name="user_name">
		                        {% for emp in employees %}
                                    <option value="{{emp.username}}">{{emp}}</option>
		                        {% endfor %}
		                    </select> 
		                </td>
		            </tr>
		
		            <tr>
		            	<td></td>
		                <td> <input type="submit" value="Submit" name="Submit"></td>
		            </tr>
				</table>
		</form>
	</div>
		
	<div id="management">
		{% if employee.is_superuser %}
			<div class="click">
				<span class="clickable" id="manage_employees" onclick="load_model_grid('clocker', 'Employee');">
					Manage Employees
				</span>
			</div>
			
			<div class="click">
				<span class="clickable" id="manage_jobs" onclick="load_model_grid('clocker', 'Job');">
					Manage Jobs
				</span>
			</div>
		{% endif %}
		
		<div class="click">
			<span class="clickable" id="manage_shift_summaries" onclick="load_model_grid('clocker', 'ShiftSummary');">
				Manage Shift Summaries
			</span>
		</div>
		
		<div class="click">
			<span class="clickable" id="manage_shift_shifts" onclick="load_model_grid('clocker', 'Shift');">
				Manage Shifts
			</span>
		</div>
	</div>
</div>	
<div id="management_content" style="position: absolute;"></div>
{%endblock%}

