{%extends "base.html"%}

{%block additional-headers%}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "libraries/datepicker.css" %}">
    <script src="{% static "libraries/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/main_page.js" %}"></script>
{%endblock additional-headers%}

{% block additional-greeting %}
<div class="current-hours">
    <b>Regular Hours: {{weekly_regular}}</b>
    <br/>
    <b>Overtime: {{weekly_overtime}}</b>
</div>
{%endblock additional-greeting%}

{%block content%}

<div class="login">
    {% if missing_shifts %}
        <div class="alert alert-danger">
            You have some missing shift summaries:
            <ul>
                {% for shift in missing_shifts %}
                    <li><a href="summary/{{shift.link}}">{{shift.date}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form name="clocker" class="clocker-form" method="post" action="{% url 'clock-employee' %}">
		{% csrf_token %}
			<div class="clocker-container">
				{% if not status %}
          <button class="btn btn-success btn-lg">Clock In</button>
          <input type="hidden" name="status" value="In" />
				{% elif status %}
              <button class="btn btn-danger btn-lg">Clock Out</button>
              <input type="hidden" name="status" value="Out" />
        {% endif %}
			</div>
	</form>

	<div class="message">

        {{ message }}
        {{ timeStamp }}

	</div> <!--End message-->

</div> <!--End login-->

<div class="cf">
	<div id="hour_management">

        <h4 class="text-muted">View Hours{% if employee.is_superuser %}(Admin){% endif %}</h4>
        <form name="admin" action="{% url 'get-total-hours' %}" method="post" class="form-horizontal" role="form">
			{% csrf_token %}

                <div class="form-group">
                    <label for="from" class="control-label col-lg-3 col-sm-3">From</label>
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" id="from" name="from" class="form-control" placeholder="From"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="to" class="control-label col-lg-3 col-sm-3">To</label>
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" id="to" name="to" class="form-control" placeholder="To"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 control-label">Employee</label>
                    <div class="col-lg-6 col-sm-6">
                        <select name="user_name" class="form-control">
                            {% for emp in employees %}
                                <option value="{{emp.username}}">{{emp}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-sm-offset-3 col-lg-6 col-sm-6">
                        <button type="submit" name="Submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
		</form>
	</div>

	<div id="management">
        <h4 class="text-muted">Management</h4>
		{% if employee.is_superuser %}
			<div class="click">
                <a class="link_color" href="{% url 'manage-employees' %}">Employees</a>
			</div>
			{% if enable_jobs %}
                <div class="click">
	                <a class="link_color" href="{% url 'manage-jobs' %}">Jobs</a>
                </div>
			{% endif %}
		{% endif %}
        <div class="click">
            <a class="link_color" href="{% url 'timesheet-list' %}">Timesheets</a>
        </div>

        <div class="click">
            <a class="link_color" href="{% url 'manage-shifts' %}">Shifts</a>
		</div>
		{% if employee.is_superuser %}
			{% if enable_jobs %}
		        <div class="click">
		            <a class="link_color" href="{% url 'manage-missing-shifts' %}">Missing Shifts</a>
		        </div>
			{% endif %}
		{% endif %}
	</div>
</div>

<div id="job-hours" class="cf">
{% if enable_jobs %}
    <h4 class="text-muted">Jobs Breakdown</h4>
{% else %}
    <h4 class="text-muted">Time Export</h4>
{% endif %}
    <div id="job-controls">
        <form action="#" class="form form-inline">
            {% csrf_token %}

                <div class="form-group">
                    <input type="text" id="from-job" name="from" class="form-control" placeholder="From"/>
                </div>

                <div class="form-group">
                    <input type="text" id="to-job" name="to" class="form-control" placeholder="To"/>
                </div>

                <div class="form-group">
                    <select name="user_name" id="employees-job" class="form-control">
                        {% if employee.is_superuser %}
                            <option value="all-active">All Active Employees</option>
                            <option value="all">All Employees</option>
                        {% endif %}
                        {% for emp in employees %}
                            <option value="{{emp.username}}">{{emp}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" name="Submit" class="btn btn-default">Submit</button>
                <button id="csvbutton" type="button" name="CSV" class="btn btn-default">CSV</button>
                {% if enable_jobs %}
                <div class="checkbox">
                    <label>
                        <input id="toggle-active-jobs" type="checkbox" /> Show Inactive Jobs
                    </label>
                </div>
                {% endif %}
        </form>
    </div>
{% if enable_jobs %}
    <div id="jobs"></div>
{% endif %}
</div>
{%endblock%}


{% block additional-scripts %}

<script>
    $(function() {
        $('#toggle-active-jobs').on('change', function(e) {
            if($(e.currentTarget).prop('checked'))
                $('.job-breakdown[data-active="False"]').show();
            else
                $('.job-breakdown[data-active="False"]').hide();
        });

        $('#job-controls form').on('submit', function() {
            var data = {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                ,'start': $('#from-job').val()
                ,'end': $('#to-job').val()
                ,'employee': $('#employees-job').val()
            };

            $('#job-controls form button[type="submit"]').attr('disabled', "");
            $('.job-spinners').show();
            $.post("{% url 'job-breakdown' %}", data, function(resp) {
                $('#jobs').html(resp);
                var jobCheck = $('#toggle-active-jobs');
                if($(jobCheck).prop('checked'))
                    $(jobCheck).trigger('change');
            })
            .fail(function(resp) {
                $('#jobs').html("Something unexpected occured while loading the jobs breakdown.");
                console.error(resp);
            })
            .always(function() {
                $('#job-controls form button[type="submit"]').removeAttr('disabled');
                $('.job-spinners').hide();
            });

            return false;
        });

        var fromJob = $('#from-job');
        var toJob = $('#to-job');

        $('#csvbutton').click(function(){
            window.location.href = "shiftExport?start=" + fromJob.val() + "&end=" + toJob.val();
        });

        if($(fromJob).val() == '' && $(toJob).val() == '') {
            $(fromJob).val('{{start_week}}');
            $(toJob).val('{{today}}');
        }

        $('#job-controls form').trigger('submit');
    });
</script>
{% endblock %}
