{% extends "base.html" %}


{% block additional-headers %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.10.3.custom.min.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/grid.css"> 
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}plugins/minicolors/jquery.minicolors.css"> 
{% endblock additional-headers %}

{% block content %}

<div id="managementContent" class="container"></div>

<script>
    $(function() {
        var url = "/chucho/model_editor/{{app}}/{{model}}/";
        $.get(url, {}, function(data) {
            $('#managementContent').html(data);
            var title = $("<h2></h2>", {
                "html": "Manage {{model}}s"
            });

            $('#managementContent').prepend(title);
        });
    });
</script>

{% endblock content %}
    
{% block additional-scripts %}
<script src="{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.tmpl.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/spin.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/chucho.grid.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/chucho.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/management.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}plugins/minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
{% endblock %}
