{% extends 'base.html' %}

{% block content %}

<div id="manage-timesheets" style="margin-top: 1em;">

    <div class="row">
        <div class="col-xs-4">
            <input type="text">
            <button type="button" class="btn btn-default">Create</button>
        </div>
        
        <div class="col-xs-8">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                2014/05/01 - 2014/05/15
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                2014/04/15 - 2014/04/31 <i>Signed</i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                2014/04/01 - 2014/04/15 <i>Signed</i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}

{% block additional-scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/timesheet.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/timesheets.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/manageTimesheets.js"></script>

    <script>
        $(function() {
            var manageTimesheets = new $.fn.ManageTimesheets();
            ko.applyBindings(manageTimesheets, $('#manage-timesheets').get(0));
        });
    </script>
{% endblock additional-scripts %}
