{% extends "base.html" %}

{% block additional-headers %}
{% load static %}


    <script src="{% static "libraries/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "libraries/jquery-ui-timepicker-addon.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/manageShifts.css" %}">
    <script src="{% static "js/shift.js" %}"></script>
		<script src="{% static "js/shiftList.js" %}"></script>

		<script src="{% static "js/timeline.js" %}"></script>
    <script src="{% static "js/timelineShifts.js" %}"></script>
    <script src="{% static "js/manageShifts.js" %}"></script>
{% endblock additional-headers %}

{% block content %}

{% csrf_token %}

<script id="edit-shift-template" type="text/html">
	<tr>
		<td>
			<button type="button" class="btn btn-success" data-bind="click: update">Save</button>
			<button type="button" class="btn btn-default" data-bind="click: cancelEdit">Cancel</button>
		</td>
		<td data-bind="text: shiftToEdit().employee().username"></td>
		<td>
			<input class="form-control  time-in-input" type="text" data-bind="value: shiftToEdit().time_in">
			<!--
			<ul class="list-inline">
				<li><input class="form-control date-input icon-input" type="text" placeholder="Date"></li>
				<li><input class="form-control time-input icon-input" type="text" placeholder="Time"></li>
			</ul>
			-->
		</td>
		<td>
			<input class="form-control time-out-input" type="text" data-bind="value: shiftToEdit().time_out">
			<!--
			<ul class="list-inline">
				<li><input class="form-control date-input icon-input" type="text" placeholder="Date"></li>
				<li><input class="form-control time-input icon-input" type="text" placeholder="Time"></li>
			</ul>
			-->
		</td>
		<td></td>
	</tr>
</script>


<h2>Manage Shifts</h2>


<div id="manage-shifts-container">

	<ul class="list-inline">
		<li>
			<label class="control-label">Employee</label>
		</li>
		<li>
			<select class="form-control" data-bind="options: employees,
			                                        optionsText: 'username',
			                                        value: selectedEmployee">
			</select>
		</li>
	</ul>
	
	<div data-bind="with: timelineShifts" id = "timeline-label">
		<h4>Week Of:</h4>
		<h4 id="week-range-label"></h4>
		<a data-bind="click: prevWeek" id = "prev-week-button" class="previous clickable">&lt;-- Previous Week</a>
		<a data-bind="click: nextWeek" id = "next-week-button" class="next clickable">Next Week --&gt;</a>
	</div>
	<div id="shift-timeline"></div>


	<div data-bind="with: shiftList">
    <ul class="pager">
      <li data-bind="ifnot: currentPage()==1, click: firstPage" class="previous clickable">
        <a>&lt;&lt; First</a>
      </li>
      <li data-bind="ifnot: currentPage()==1, click: prevPage" class="previous clickable">
        <a>&lt; Prev</a>
      </li>

      <li data-bind="text: pageNum"></li>

      <li data-bind="ifnot: currentPage()==totalPages(), click: lastPage" class="next clickable">
        <a>Last &gt;&gt;</a>
      </li>
      <li data-bind="ifnot: currentPage()==totalPages(), click: nextPage" class="next clickable">
        <a>Next &gt;</a>
      </li>
    </ul>

		<table class="table">
			<thead>
				<th></th>
				<th>Employee</th>
				<th>In</th>
				<th>Out</th>
				<th>Hours</th>
			</thead>
			<tbody>
				<!-- ko foreach: shifts -->

				<tr data-bind="ifnot: updating">
					<td>
						<span title="Edit Summary" class="glyphicon glyphicon-list clickable"
							data-bind="click: summary">
						</span>
						<span title="Edit Shift" class="glyphicon glyphicon-pencil clickable" data-bind="click: editShift"></span>
						<span title="Delete Shift" class="glyphicon glyphicon-trash clickable" data-bind="click: deleteWarning"></span>
					</td>
					<td data-bind="text: employee().username"></td>
					<td data-bind="text: time_in"></td>
					<td data-bind="text: time_out"></td>
					<td data-bind="text: hours"></td>
				</tr>

				<!-- ko template: {name: "edit-shift-template", if: updating, afterRender: bindInputs} --><!-- /ko -->

				<tr data-bind="if: $root.shouldAddSeperator($index(), $index()+1)"><td colspan="5"></td></tr>
				<!-- /ko -->
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="delete-warning">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Warning</h4>
        </div>
        <div class="modal-body">
        Are you sure you want to delete that shift?
        </div>
        <div class="modal-footer">
          <button type="button" id="delete-shift-btn" class="btn btn-primary">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>

{% endblock content %}

{% block additional-scripts %}

	<script>
		$(function() {
			var data = {'managingEmployee': {{employee|safe}} }; 
			var manageShifts = new $.fn.ManageShifts();
			manageShifts.init(data).then(function() {
				ko.applyBindings(manageShifts, $('#manage-shifts-container').get(0));
			});
		});
	</script>
{% endblock additional-scripts %}
