{%extends "base.html"%}

{% block additional-headers %}
{% load static %}

    <script src="{% static "libraries/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "libraries/jquery-ui-touch.min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/shiftSummary.css" %}"/>
    <script src="{% static "js/job_slider.js" %}"></script>
{% endblock %}

{%block content%}
<div >

    <span class="shiftInOut">{{shiftEmployee}}: {{shift.time_in}} - {{shift.time_out}}</span>

    {%if totalTime < 1 %}
        <div class="alert alert-warning">
            This shift has no time, please edit it <a href="/timeclock/manage/shifts">here</a>.
        </div>
    {% else %}
        <table border="0">
            <tr class="total_time_text">
              <td></td>
                <td><b>Total Time Worked</b></td>
                <td>
                    <input type="text" class="total_time form-control" id="total_time" value="{{totalTime}}" readonly="readonly" />
                </td>
            </tr>
            {% for data in jobData %}
            <tr>
                 <td>
                    {% if data.hours %}
                     <span class="ui-icon ui-icon-circle-triangle-s toggle-button"
                     onclick="toggle_section('sub-{{data.job.name|slugify}}', this);">
                     </span>
                    {% else %}
                     <span class="ui-icon ui-icon-circle-triangle-e toggle-button"
                     onclick="toggle_section('sub-{{data.job.name|slugify}}', this);">
                     </span>
                    {% endif %}
                 </td>
                 <td>
                     <div class="job_name">{{data.job.name}}</div>
                 </td>
                 <td>
                    {% if data.hours %}
                        <input type="text" class="job_time form-control" id ="hours_{{data.job.id}}" value="{{data.hours}}" readonly="readonly" />
                    {% else %}
                        <input type="text" class="job_time form-control" id ="hours_{{data.job.id}}" readonly="readonly" />
                    {% endif %}
                 </td>
                 <td><div id="{{data.job.id}}" class="job_slider"></div></td>
            </tr>

            {% if data.hours %}
            <tr class="collapsible" id="sub-{{data.job.name|slugify}}">
            {% else %}
            <tr class="collapsible" id="sub-{{data.job.name|slugify}}" style="display:none;">
            {% endif %}
                <td colspan="4">
                    <div class="miles_text">Miles:</div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        {% if data.miles %}
                            <input type="number" class="miles form-control" value="{{data.miles}}" id="miles_{{data.job.id}}" />
                        {% else %}
                            <input type="number" class="miles form-control" value="0" id="miles_{{data.job.id}}" />
                        {% endif %}
                    </div>
                    <br/>
                    <div class="notes_text">Notes:</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <textarea  class="text_area form-control" rows="5" cols="50" id="notes_{{data.job.id}}">{{data.note}}</textarea>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if owner %}
            <input type="button" class="submit btn btn-primary" value="Submit" onclick="submit_form('{% url 'save-summaries'  %}')" />
            <input type="hidden" id="emp_id" value="{{user.id}}" />
            <input type="hidden" id="shift_id" value="{{shift.id}}" />
        {% endif %}

            <div id ="debug"> </div>

        </div>
    {% endif %}

    <script>
        $(function() {
            $('.toggle-button').button();
        });
    </script>
{%endblock%}
