<div class="panel-group" id="timesheet-accordion" data-bind="foreach: $data">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#timesheet-accordion" 
                    data-bind="attr: {href: '#timesheet-'+id}">
                    <!-- ko text: timeperiod --><!-- /ko -->
                    <!-- ko text: employeeName --><!-- /ko -->
                </a>
    
                <i class="pull-right" data-bind="if: signature">Signed</i>
            </h4>
        </div>
        <div class="panel-collapse collapse" data-bind="attr: {id: 'timesheet-'+id}">
            <!-- ko if: shifts().length > 0 -->
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Total Hours</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: shifts">
                    <tr>
                        <td data-bind="text: time_in"></td>
                        <td data-bind="text: time_out"></td>
                        <td data-bind="text: hours"></td>
                    </tr>
                </tbody>
            </table>
            <!-- /ko -->

            <!-- ko if: shifts().length <= 0 -->
            <p class="text-info text-center" style="margin-top: 0.5em;">
                This timesheet contains no shifts.            
            </p>
            <!-- /ko -->

            <!-- ko if: belongsToUser("{{user.username}}") && !signature() -->
            <div class="panel-body">
                <p class="text-danger" data-bind="visible: signAgreement.hasError(), text: signAgreement.validationMessage()"></p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: signAgreement"> Accept Timesheet
                    </label>
                </div>
                
                <button type="button" class="btn btn-default" data-bind="click: signTimesheet.bind($data)">Sign</button>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
