{
  "rules": {
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "font-family-no-duplicate-names": true,
    "unit-no-unknown": true,
    "property-no-unknown": true,
    "keyframe-declaration-no-important": true,
    "declaration-block-no-duplicate-properties": true,
    "comment-no-empty": true,
    "no-invalid-double-slash-comments": true,
    "no-unknown-animations": true,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    } ]
  }
}
