html
{
    width:100%;
    height:100%;
}

body
{
    width:100%;
    height:100%;
    background-image:url(background.png);
    background-repeat:no-repeat;
    background-size:cover;
}


#content
{
    width:100%;
    height:100%;
}

.slider
{
    width:60%;
}

.job_name
{
    float:left;
}

.job_time
{
    float:right;
}



.submit
{
    position:relative;
    top:260px;
    left:30px;
}



