/*
html
{
    width:100%;
    height:100%;
}

body
{
    width:100%;
    height:100%;
    background-image:url(background.png);
    background-repeat:no-repeat;
    background-size:cover;
}
*/

#content
{
    width:100%;
    height:100%;
}

#slider
{
    width:75%;
    margin-top:75px;
}

.job_name
{
   margin-left:auto;
   margin-right:auto;
   font-size:20px;
   width:35%;
}

.total_time_text
{
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    font-size:20px;
    width:60%;
}

.total_time
{
    text-align:center;
    font-weight:bold;
    font-size:medium;
    width:100px;
}

.job_time
{
    text-align:center;
    width:75px;
}

.job_slider
{
    width:60%;
    margin-top:15px;
}

.text_area
{
    position:relative;
    top:-25px;
    left:100px;
}

.notes_text
{
    position:relative;
    top:-25px;
    left:100px;
}

.miles
{
    position:relative;
    right:200px;
    top:45px;
}

.miles_text
{
    position:relative;
    right:200px;
    top:45px;
}

.submit
{
    margin-left:auto;
    margin-right:auto;
    width:auto;
    top:260px;
    left:30px;
}
