table td, th, b
{
    font-size: 10pt;	
}

table.hours-table
{
    margin-bottom: 0.2in;  
}

div#odd-wrapper
{
    float: left;
    width: 3.5in;
    padding-right: 0.125in;
}

div#even-wrapper
{
    float: left;
    width: 3.5in;
}
