@media print {
    table td, th, b {
        font-size: 5pt;
    }
}

@media screen {
    table td, th, b {
        font-size: 11pt;
    }
}

table.hours-table {
    margin-bottom: 0.2in;
}

.numeric-column {
    text-align: right;
}
