html
{
    width:100%;
    height:100%;
}

body
{
    width:100%;
    height:100%;
    background-image:url(../images/seamlesstexture29.jpg);
    background-repeat:repeat;
    font-size: 12pt;   
}


#content
{
    width: 700px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background-image:url(../images/dark_fish_skin.png);
    border: 1px solid #aaaaaa;
    box-shadow: 0px 0px 15px #888888;
}

div.container
{
	width: 699px;
	height:490px;
	background-color: white;
	border: 1px solid #aaaaaa;
}

.visgence_logo
{
	margin: 15px;
}

.login
{
    width:350px;
    height:200px;
    top: 20%;
    left: 40%;
 	padding-left: 15px;
 	padding-top: 15px; 
}

div#management
{
	float: right;
	padding-right: 15px;
}
.radio_buttons
{
    width: 8em;
    height: 100px;
    top:205px;
    left:130px;
    float:left;
    margin-top: 15px;
}

.from
{
    position:relative:
    top:50%;
    left:100px;
}

.message
{
    width:500px;
    position:relative;
    top:70%;
}

.error
{
    position:relative;
    top:200px;
    left:50px;
}

input[type="text"], input[type="password"]
{
    border-width: 2;
}

.clickable
{
    cursor: pointer;
    color: blue;
}

.clickable:hover
{
    color: red;
}

div.submit_login
{
	margin-top: 5px;
}
div.login-submit
{
	position: relative;
	top: 150px;
	left:190px;
}
