<html>

    <head> 
        <link rel="stylesheet" type="text/css" href="/static/clocker/main_page.css"/>
    </head>

    <body> 

        <div id="content">

            <div>
                {% if user.first_name %}
                    Hello {{user.first_name}} {{user.last_name}} (<a href="logout/">logout</a>)
                {% endif %}
            </div>
        
            <div class="login">

                <div>
                    &nbsp;
                    <form name="main_page" method="post">
                        {% csrf_token %}

                        <div class="radio_buttons">
                            <input type="radio" name="status" value="In" checked="checked"/> Clock In<br />
                            <input type="radio" name="status" value="Out"/> Clock Out
                        </div>
                        
                        <input type="submit" value="submit" class="submit_clock">
                    </form>

                </div>

                <div class="message">

                    {% ifequal error "none" %}

                        {% ifequal status "out" %}  
                            You have clocked out succesfully.
                        {% else %}
                            Your have clocked in succesfully.
                        {% endifequal %}

                    {% else %}

                        {% ifequal error "user" %}
                            {{ user_name }} is not a valid user name.  Please enter a valid user name. 
                        {% endifequal %}

                        {% ifequal error "out" %}
                            You are not able to clock out right now. Please clock in first.
                        {% endifequal %}

                        {% ifequal error "in" %}
                            You are not able to clock in right now. Please clock out first.
                        {% endifequal %}

                    {% endifequal %}

                </div> <!--End message-->

            </div> <!--End login-->

        </div> <!--End content-->

    </body>

</html>
