
{% load url from future %}

<div id="changePassword" style="text-align:center;">
    <table>
        <tr>
            <th cell-width="2">Change Password</th>
        </tr>
        <tr>
            <td>Username: </td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td><label for="oldPassword">Old Password: </label></td>
            <td><input type="password" id="oldPassword" name="oldPassword"></td>
        </tr>
        <tr>
            <td><label for="passwordInput">New Password: </label></td>
            <td><input type="password" id="passwordInput" name="password"></td>
        </tr>
        <tr>
            <td><label for="passwordReinput">Reenter Password: </label></td>
            <td><input type="password" id="passwordReinput"></td>
        </tr>
    </table>
</div>
