{%extends "base.html"%}

{% block additional-headers %}
    <script src="/static/clocker/js/js/job_slider.js" type="text/javascript"></script>
{% endblock %}

{%block content%}
    <div >
    <table border="0">
        <tr class="total_time_text">
        	<td></td>
            <td><b>Total Time Worked</b></td>
            <td><input type="text" class="total_time" id="total_time" value="{{total_time}}" readonly="readonly"></td>
        </tr>
        {% for job in jobs %}
        <tr>            
             <td>
                 <span class="ui-icon ui-icon-circle-triangle-e toggle-button"
                 onclick="toggle_section('sub-{{job.name|slugify}}', this);">
                 </span>
             </td>
             <td>
                 <div class="job_name">{{job.name}}</div>
             </td>
             <td><input type="text" class="job_time" id ="hours_{{job.id}}" readonly="readonly" /></td>
             <td><div id="{{job.id}}" class="job_slider"></div></td>
        </tr>
             
        <tr class="collapsible" id="sub-{{job.name|slugify}}" style="display:none;">
            <td colspan="4">
                <div class="miles_text">Miles:</div>
                <input type="number" class="miles" value="0" id="miles_{{job.id}}">
                    
                <div class="notes_text">Notes:</div>
                <textarea  class="text_area" rows="5" cols="50" id="notes_{{job.id}}"></textarea>
            </td>
        </tr>
        {% endfor %} 
    </table> 
        <input type="button" class="submit" value="Submit" onClick="submit_form()">
        <input type="hidden" id="emp_id" value="{{this_employee.id}}" onClick="submit_form()">
        <input type="hidden" id="shift_id" value="{{shift_id}}" onClick="submit_form()">

        <div id ="debug"> </div>

    </div>

    <script>
        $(function() {
            $('.toggle-button').button();
        });
    </script>
{%endblock%}
