<html>

    <head>
    </head>

<body> 

    <div>
        {% if user.first_name %}
        Hello {{user.first_name}} {{user.last_name}} (<a href="/logout/">logout</a>)
        {% endif %}
    </div>

    <h2>Work Hours for {{employee}}</h2>
   
    <div align="left">

        {% load math_helper %}

        <b> Selected pay period: {{period_begin}} to {{period_end}}</b></br></br>

                {% for week in pay_period.weekly_info%}
                <b>Work Week: {{week.week_start}} - {{week.week_end}}</b>
                <ul type="none">
                    {% for day in week.days%}

                        {%ifequal day.display_flag 'True'%}
                            <li type="none"><b> {{day.date}} Shifts: </b></li>
                            <ul type="none">
                        {%else%}
                            <li type="none"> <font color="gray"> {{day.date}} Shifts:</font> </li>
                            <ul type="none">
                        {% endifequal %}

                        {% for shift in day.shifts%}
                        
                            {%ifequal shift.display_flag 'True'%}
                                <li type="none">IN: {{ shift.in }} OUT: {{shift.out}} Total: {{shift.total|to_hour}} </li>
                            {%else%}
                                <li type="none"><font color="gray">IN: {{shift.in}} OUT: {{shift.out}} Total: {{shift.total|to_hour}} </font></li>
                            {% endifequal %}
                            
                        {% endfor %}
                                                            
                        {%ifequal day.display_flag 'True'%}
                            <li type="none">  Daily Total: {{day.daily_total|to_hour}} </li>
                        {%else%}
                            <li type="none"> <font color="gray"> Daily Total: {{day.daily_total|to_hour}}</font> </li>
                        {% endifequal %}

                        </ul>
                    {% endfor %}
            <br>
            <li type="none"><b> Weekly Total: {{week.weekly_total|to_hour}} Weekly Regular Hours: {{week.weekly_regular_hours|to_hour}} Weekly Overtime: {{week.weekly_overtime|to_hour}} </b></li>
            
            </ul>
            
            {% endfor %}

            <b>Total Regular Hours for Pay Period: {{pay_period.period_regular|to_hour}} </b>
            <br>
            <b>Total Overtime Hours for Pay Period: {{pay_period.period_overtime|to_hour}}</b>

            <br>
            <br>
            <b> Signature ________________________</b>
    </div>
</body>

</html>
