<html>

    <head>
	<style>
		table#total_hours td, th, b
		{
			font-size: 10pt;	
		}	
	</style>
    </head>

<body> 
   
    <div>
        <span><b>{{employee.first_name}} {{employee.last_name}}:</b> Selected pay period: {{period_begin}} to {{period_end}}</br></br></span> 
    </div>
    <div align="left" sytle="clear: both;">

        {% load math_helper %}

        {% for week in pay_period.weekly_info%}
        <table id="total_hours" style="border: solid black 1px; border-collapse:collapse;">
        <thead >
            <tr >
                <th align="center" colspan="5">Work Week: {{week.week_start}} - {{week.week_end}}</th>
            </tr>
            <tr>
                <th style="border: solid black 1px">Date</th>
                <th style="border: solid black 1px">Time In</th>
                <th style="border: solid black 1px">Time Out</th>
                <th style="border: solid black 1px">Shift Total</th>
                <th style="border: solid black 1px">Daily Totals</th>
            </tr>
        </thead>
        <tbody>
                {% for day in week.days%}
                    {% for shift in day.shifts%}
                    <tr>
                        {%ifequal shift.display_flag 'True'%}
                            <td style="border: solid black 1px">{{day.date}}</td>
                            <td style="border: solid black 1px">{{shift.in}}</td>
                            <td style="border: solid black 1px">{{shift.out}}</td>
                            <td style="border: solid black 1px" align="right">{{shift.total}}</td>
                    	    {% if forloop.last %}
			    <td style="bgcolor:yellow; border: solid black 1px;">{{day.daily_total}}</td>
			    {% else %}
			    <td></td>
                            {% endif %}
                        {%else%}
                            <td style="color:grey; border: solid black 1px;">{{day.date}}</td>
                            <td style="color:grey; border: solid black 1px;">{{shift.in}}</td>
                            <td style="color:grey; border: solid black 1px;">{{shift.out}}</td>
                            <td style="color:grey; border: solid black 1px;" align="right">{{shift.total}}</td>
			    {% if forloop.last %}
			    <td style="color:grey; border: solid black 1px;">{{day.daily_total}}</td>
			    {% else %}
			    <td></td>
                            {% endif %}
                        {% endifequal %}
                    </tr>
                {% endfor %}
             {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th style="border: solid black 1px">Weekly Total</th>
                <th style="border: solid black 1px" colspan="2">Weekly Regular</th>
                <th style="border: solid black 1px">Weekly Overtime</th>
            </tr>
            <tr>
                <td style="border: solid black 1px" align="right">{{week.weekly_total}}</td>
                <td style="border: solid black 1px" colspan="2" align="right">{{week.weekly_regular_hours}}</td>
                <td style="border: solid black 1px" align="right">{{week.weekly_overtime}}</td>
            </tr>
        </tfoot>
        </table>
        <br/>
        {% endfor %}

        <b>Total Regular Hours for Pay Period: {{pay_period.period_regular}} @ ${{employee.hourly_rate}}/hr = ${{pay_period.total_regular}}</b>
	<br/>
        <b>Total Overtime Hours for Pay Period: {{pay_period.period_overtime}} @ ${{overtime_pay}}/hr = ${{pay_period.total_overtime}}</b>
	<br/>
        <b>Total for Pay Period: ${{total}}</b>

        <br>
        <b> Signature ________________________</b>
    </div>
</body>

</html>
